* {
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
    border-color: black;
}

li {
    list-style-type: none;
}

p, h2 {
    color: #212121;
}

button:hover {
    cursor: pointer;
}

a {
    color: #e91e63;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

button {
    color: #e91e63; 
    border-radius: 50px;
    border: none;
}

button:hover {
    font-weight: bold;
}

.header {
    top: 0;
    position: fixed;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

#create-button {
    margin-bottom: 7.5px;
    border: 1px solid rgb(136, 134, 134);
    width: 5rem;
    height: 3rem;
}

#create-button:hover {
    background-color: rgb(230, 230, 230);
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 3%;
}

div > .post:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

div > .post:hover > * {
    background-color: rgb(230, 230, 230);       
}

main {
    padding-top: 4rem;
    margin-left: 10%;
    margin-right: 10%;
}

.post-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.post-creation > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-creation > div > textarea, input {
    resize: none;
    border-radius: 10px;
    width: 15rem;
}

.post-creation > div > textarea {

    height: 5rem;
}

.post-creation button {
    border: 1px solid black;
    margin-bottom: 1rem;
}

.post-creation button:hover {
    background-color: rgb(230, 230, 230);
}

.post-creation > * {
    padding: 1rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    justify-content: space-evenly;
}

.login > div {
    margin: 2px;
}

.login-button, .account-link {
    border: 1px solid black;
    padding: .5rem;
    border-radius: 10rem;
}

.login-button:hover, .account-link:hover {
    background-color: rgb(230, 230, 230);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.profile > p {
    font-weight: bold;
    font-size: larger;
}

.title {
    font-weight: bold;
}

.userName {
    margin: 0;
    padding: 0;
    font-size: small;
}

.nav-link-active {
    font-weight: bold;
}